<h3>Update Dota Hero Details</h3>
<%= form_with model: @dotaheros do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :atrtype, placeholder: "attribute" %>
  <%= form.submit %>
<% end %>
